---
layout: archive
title: "Publications"
permalink: /articles/
author_profile: true
redirect_from: 
  - /wordpress/academic-papers/
---
You can also find my articles on <u><a href="https://scholar.google.fr/citations?user=8u735mcAAAAJ&hl=en">my Google Scholar profile</a>.</u>

<p>
<b><em>[International Journals]:</em></b><br />
</p>
<p><font size=4>
[J8] Liu, S., Yuan, X., Feng, W., Ren, A., Hu, Z., Ming, Z., Zahid, A., Abbasi, Q.H. and Wang, S., 2023. A Novel Heteromorphic Ensemble Algorithm for Hand Pose Recognition. Symmetry, 15(3), p.769.(<em><b>SJR Q2, Impact Score 2.97</em></b>)<br/>
<br/>
[J7] Bakkali, Souhail, Zuheng Ming, Mickael Coustaty, Marçal Rusiñol, and Oriol Ramos Terrades. "VLCDoC: Vision-Language contrastive pre-training model for cross-Modal document classification." Pattern Recognition 139 (2023): 109419.(<em><b>JCR Q1, Impact Factor 4.93</em></b>)<br/>
<br/>
[J6] Mondal, Tanmoy, Abhijit Das, and Zuheng Ming. "Exploring Multi-Tasking Learning in Document Attribute Classification." Pattern Recognition Letters (2022) (<em><b>JCR Q2, Impact Factor 4.93</em></b>)<br/>
<br/>
[J5] mitry V. Polevoy , Irina V. Sigareva , Vladimir V. Arlazarov  , Dmitry P. Nikolaev , Zuheng Ming , Muhammad Muzzamil Luqman and Jean-Christophe Burie, 2022. Document Liveness Challenge dataset (DLC-2021). Journal of Imaging, 2022 (<em><b>SJR Q2, Impact Score 3.81</em></b>)<br/>
<br/>
[J4] Bulatov, K., Emelianova, E., Tropin, D., Skoryukina, N., Chernyshova, Y., Sheshkus, A., Usilin, S., Ming, Z., Burie, J.C., Luqman, M.M. and Arlazarov, V.V., 2021. MIDV-2020: A Comprehensive Benchmark Dataset for Identity Document Analysis. Journal computer optics, 2022 (<em><b>SJR Q2, Impact Score 2.97</em></b>)<br/>
<br/>
[J3] Souhail Bakkali, Zuheng Ming, Mickaël Coustaty, Marçal Rusiñol “EAML: Ensemble Self-Attention-based Mutual LearningNetwork for Document Image”, International Journal on Document Analysis and Recognition (IJDAR) 2021 (<em><b>JCR Q2, Impact Factor 1.486, Impactor Score 4.14</em></b>)<br/>
<br/>
[J2] Zuheng Ming, Muriel Visani, Muhammad Muzzamil Luqman, Jean-Christophe Burie “A Survey On Anti-Spoofing Methods For FaceRecognition with RGB Cameras of Generic ConsumerDevices”, Journal of Imaging, 2020 (<em><b>SJR Q2, Impact Score 3.81</em></b>)<br/>
<br/>
[J1] Zuheng Ming, Muhammad Muzzamil Luqman, Jean-Christophe Burie “Cross-modal Multi-task Learning for Graphic Recognition of Caricature Face”, International Journal on Document Analysis and Recognition (IJDAR) 2020(<em><b>JCR Q2, Impact Factor 1.486, Impactor Score 4.14</em></b>)<br/>
<br/>
</font></p>

<p>
<b><em>[International Conferences & Workshops]:</em></b><br />
</p>
<p><font size=4>
[C18] Ming, Zuheng, Zitong Yu, Musab Al-Ghadi, Muriel Visani, Muhammad MuzzamilLuqman, and Jean-Christophe Burie. "ViTransPAD: Video Transformer using convolution and self-attention for Face Presentation Attack Detection." submit to ICIP2022. (<em><b>Core rank B</em></b>)<br/>
<br/>
[C17] Souhail Bakkali, Zuheng Ming, Mickaël Coustaty, Marçal Rusiñol and Oriol Ramos Terrades "CMDoC: Cross-Modal Learning for Document Classification." submit to IJCAI-ECAI2022. (<em><b>Core rank A+</em></b>)<br/>
<br/>
[C16] Souhail Bakkali, Zuheng Ming, Mickaël Coustaty, Marçal Rusiñol “Visual and Textual Deep Feature Fusion for Document Image Classification”, IEEE International Conference and Pattern Recognition workshop (CVPRw) 2020, Seattle<br/>
<br/>
[C15] Souhail Bakkali, Zuheng Ming, Mickaël Coustaty, Marçal Rusiñol “Cross-Modal Deep Networks for Document Image Classification”, IEEE International Conference on Image Processing (ICIP) 2020, United Arab Emirates(<em><b>Core rank B</em></b>)<br/>
<br/>
[C14] Zuheng Ming, Junshi Xia, Muhammad Muzzamil Luqman, Jean-Christophe Burie, Kaixing Zhao, “Dynamic Multi-Task Learning for Face Recognition with Facial Expression,” in International Conference on Computer Vision Workshops (ICCVW), 2019, Seoul<br/>
<br/>
[C13] Zuheng Ming, Muhammad Muzzamil Luqman, Jean-Christophe Burie “Dynamic Deep Multi-task Learning for Caricature-Visual Face Recognition,” in the 13th International Workshop on Graphics Recognition, GREC2019@ICDAR 2019, Sydney<br/>
<br/>
[C12] Souhail Bakkali, Zuheng Ming, Muhammad Muzzamil Luqman, Jean-Christophe Burie “Face Detection in Camera Captured Images of Identity Documents under Challenging Conditions,” in the 15th International Conference on Document Analysis and Recognition Workshop, CBDAR2019 @ ICDAR 2019, Sydney<br/>
<br/>
[C11] Zuheng Ming, XIA, Junshi, LUQMAN, Muhammad Muzzamil, et al. “FaceLiveNet+: A Holistic Networks For Face Authentication Based On Dynamic Multi-task Convolutional Neural Networks.” arXiv preprint arXiv:1902.11179, 2019.<br/>
<br/>
[C10] Junshi Xia, Zuheng Ming “CLASSIFICATION OF HYPERSPECTRAL AND LIDAR WITH DEEP ROTATION FOREST,” in the 44th International Conference on Acoustics, Speech, and Signal Processing, ICASSP 2019, Brighton (<em><b>Core rank B</em></b>) <br/>
<br/>
[C9] Z. Ming, J. Chazalon, M. M. Luqman, M. Visani and J. C. Burie, “FaceLiveNet: End-to-End Networks Combining Face Verification With Interactive Facial Expression-based Liveness Detection,” in 24th International Conference on Pattern Recognition (ICPR) 2018 (<em><b>Core rank B</em></b>)<br/> 
<br/>
[C8] Junshi XIA, Zuheng MING, Akira IWASAKI, “Multiple sources data fusion via Deep Forest,” in IEEE International Geoscience and Remote Sensing Symposium (IGARSS) 2018<br/>
<br/>
[C7] Z. Ming, J. Chazalon, M. M. Luqman,, M. Visani and J. C. Burie, “Simple triplet loss based on intra/interclass metric learning for face verification,” in International Conference on Computer Vision Workshops (ICCVW), 2017, pp. 1656–1664 <br/>
<br/>
[C6] Shochi, T., Rouas, J. L., Z. Ming, Guerry, M., Bugeau, A., & Donna, E.. Cultural differences in pattern matching: multisensory recognition of socio-affective prosody. In International Congress of Psychology. 2016, July <br/>
<br/>
[C5] Z. Ming, A. Bugeau, , J.L. Rouas, T . Shochi, “Facial Action Units intensity estimation by the fusion of features with multi-kernel Support Vector Machine”. In: 11th IEEE International Conference and Workshops on Automatic Face and Gesture Recognition (FG 2015). Vol. 6. IEEE. 2015, pp. 1–6. <br/>
<br/>
[C4] T. Nishida, M. Abe, T. Ookaki, D. Lala, S. Thovuttikul, H. Song, Y. Mohammad, C. Nitschke, Y. Ohmoto, A. Nakazawa, T. Shochi, J.-L. Rouas, A. Bugeau, F. Lotte, Z. Ming, G. Letournel, M. Guerry, D. Fourer– Synthetic Evidential Study as Augmented Collective Thought Process – Preliminary Report– International scientific conference for research in the field of intelligent information and database systems (ACIIDS), 2015. <br/>
<br/>
[C3] Z. Ming, B. Denis, F. Gang, "GMM mapping of visual features of cued speech from speech spectral features", 12th International Conference on Auditory-Visual Speech Processing (AVSP 2013, pp. 191-196, Aug 2013. <br/>
<br/>
[C2] Z. Ming, Feng, G., & Beautemps, D. (2012, June). Mapping de l'espace spectral vers l'espace visuel de la parole : Les voyelles du Français en Langue Française Parlée Complétée. In 14ème édition des Rencontres des Étudiants Chercheurs en Informatique pour le Traitement Automatique des Langues (JEP-TALN-RECITAL'2012) (Vol. 1, pp. 73-80).<br/>
<br/>
[C1] Z. Ming, Beautemps, D., Feng, G., & Schmerber, S. (2010, September). Estimation of Speech Lip Features from Discrete Cosinus Transform. In 11th Annual Conference of the International Speech Communication Association 2010 (Interspeech 2010) (pp. 1612-1615).(<em><b>Core rank A</em></b>) <br/>
<br/>
</font></p>

<p>
[Thesis]:<br />
</p>
<p><font size=4>
Z.Ming. Spectral Parameters to Cued Speech Parameters Mapping: Multi-linear and GMM approaches (applied to French vowels). Gipsa-lab of university of Grenoble, Thèse, 2013.
</font></p>
<!---
{% include base_path %}

{% for post in site.articles reversed %}
  {% include archive-single.html %}
{% endfor %}
--->
