---
layout: archive
title: "Publications"
permalink: /articles/
author_profile: true
redirect_from: 
  - /wordpress/academic-papers/
---
You can also find my articles on <u><a href="https://scholar.google.fr/citations?user=8u735mcAAAAJ&hl=en">my Google Scholar profile</a>.</u>

<p>
[Journal]:<br />
</p>
<p><font size=4>
[J6] Mondal, Tanmoy, Abhijit Das, and Zuheng Ming. "Exploring Multi-Tasking Learning in Document Attribute Classification." Pattern Recognition Letters (2022) (<em><b>SJR Q1, Impact Factor 4.93</em></b>)<br/>
<br/>
[J5] mitry V. Polevoy , Irina V. Sigareva , Vladimir V. Arlazarov  , Dmitry P. Nikolaev , Zuheng Ming , Muhammad Muzzamil Luqman and Jean-Christophe Burie, 2022. Document Liveness Challenge dataset (DLC-2021). submit to Journal of Imaging, 2022 (<em><b>SJR Q2, Impact Score 3.81</em></b>)<br/>
<br/>
[J4] Bulatov, K., Emelianova, E., Tropin, D., Skoryukina, N., Chernyshova, Y., Sheshkus, A., Usilin, S., Ming, Z., Burie, J.C., Luqman, M.M. and Arlazarov, V.V., 2021. MIDV-2020: A Comprehensive Benchmark Dataset for Identity Document Analysis. Journal computer optics, 2022 (<em><b>SJR Q2, Impact Score 2.97</em></b>)<br/>
<br/>
[J3] Souhail Bakkali, Zuheng Ming, Mickaël Coustaty, Marçal Rusiñol “EAML: Ensemble Self-Attention-based Mutual LearningNetwork for Document Image”, International Journal on Document Analysis and Recognition (IJDAR) 2021 (<em><b>SJR Q3, Impact Factor 1.486, Impactor Score 4.14</em></b>)<br/>
<br/>
[J2] Zuheng Ming, Muriel Visani, Muhammad Muzzamil Luqman, Jean-Christophe Burie “A Survey On Anti-Spoofing Methods For FaceRecognition with RGB Cameras of Generic ConsumerDevices”, Journal of Imaging, 2020 (<em><b>SJR Q2, Impact Score 3.81</em></b>)<br/>
<br/>
[J1] Zuheng Ming, Muhammad Muzzamil Luqman, Jean-Christophe Burie “Cross-modal Multi-task Learning for Graphic Recognition of Caricature Face”, International Journal on Document Analysis and Recognition (IJDAR) 2020(<em><b>SJR Q3, Impact Factor 1.486, Impactor Score 4.14</em></b>)<br/>
<br/>
</font></p>

<!---
{% include base_path %}

{% for post in site.articles reversed %}
  {% include archive-single.html %}
{% endfor %}
--->
