---
layout: archive
title: "Publications"
permalink: /articles/
author_profile: true
redirect_from: 
  - /wordpress/academic-papers/
---
You can also find my articles on <u><a href="https://scholar.google.fr/citations?user=8u735mcAAAAJ&hl=en">my Google Scholar profile</a>.</u>

<p>
[Journal]:<br />
</p>
<p>
[J5] Mondal, Tanmoy, Abhijit Das, and Zuheng Ming. "Exploring Multi-Tasking Learning in Document Attribute Classification." Pattern Recognition Letters (2022) (<em><b>SJR Q1, IF 4.93</em></b>).

[J4] Bulatov, K., Emelianova, E., Tropin, D., Skoryukina, N., Chernyshova, Y., Sheshkus, A., Usilin, S., Ming, Z., Burie, J.C., Luqman, M.M. and Arlazarov, V.V., 2021. MIDV-2020: A Comprehensive Benchmark Dataset for Identity Document Analysis. arXiv preprint arXiv:2107.00396. (soumis à Journal computer optics)
</p>

<!---
{% include base_path %}

{% for post in site.articles reversed %}
  {% include archive-single.html %}
{% endfor %}
--->
