---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
--->

I work as an <b><em>Enseignant-Chercheur/Vacataire en informatique</em></b> teaching more than <b>420 HETD</b> since 2017 in La Rochelle University. 
<ul>
  <li><b>Responsble du course C5-260311-INFO - CM : Mise en oeuvre des systèmes big data</b> of Master 2 since 2021 (préparation du syllabus, organisation du cours, de l'évaluation, encadrant les projets).</li>

  <li>Supervised 5 stages of Mastr2/Licence3 and currently co-supervising a Doctorant.</li> 

  <li>2021-so far, I works as an Enseignant-Chercheur teaching totally more than <b>220 HETD</b> (CM 10.5h/TD 7.5h/TP 195h/TEA 16.5h/Projet 16h) in Department of Computer Science of La Rochelle University.</li>

  <li>2017-2021, I was a vacataire teaching about <b>200HETD</b> (CM/TD/TP/Projet) in FAC/IUT/FLASH at La Rochelle University.</li>
</ul>

<p>
<b>[Description of the courses:]</b>:<br />
</p>
<p><font size=4>
[J6] Mondal, Tanmoy, Abhijit Das, and Zuheng Ming. "Exploring Multi-Tasking Learning in Document Attribute Classification." Pattern Recognition Letters (2022) (<em><b>SJR Q1, Impact Factor 4.93</em></b>)<br/>
<br/>
[J5] mitry V. Polevoy , Irina V. Sigareva , Vladimir V. Arlazarov  , Dmitry P. Nikolaev , Zuheng Ming , Muhammad Muzzamil Luqman and Jean-Christophe Burie, 2022. Document Liveness Challenge dataset (DLC-2021). submit to Journal of Imaging, 2022 (<em><b>SJR Q2, Impact Score 3.81</em></b>)<br/>
<br/>
[J4] Bulatov, K., Emelianova, E., Tropin, D., Skoryukina, N., Chernyshova, Y., Sheshkus, A., Usilin, S., Ming, Z., Burie, J.C., Luqman, M.M. and Arlazarov, V.V., 2021. MIDV-2020: A Comprehensive Benchmark Dataset for Identity Document Analysis. Journal computer optics, 2022 (<em><b>SJR Q2, Impact Score 2.97</em></b>)<br/>
<br/>
[J3] Souhail Bakkali, Zuheng Ming, Mickaël Coustaty, Marçal Rusiñol “EAML: Ensemble Self-Attention-based Mutual LearningNetwork for Document Image”, International Journal on Document Analysis and Recognition (IJDAR) 2021 (<em><b>SJR Q3, Impact Factor 1.486, Impactor Score 4.14</em></b>)<br/>
<br/>
[J2] Zuheng Ming, Muriel Visani, Muhammad Muzzamil Luqman, Jean-Christophe Burie “A Survey On Anti-Spoofing Methods For FaceRecognition with RGB Cameras of Generic ConsumerDevices”, Journal of Imaging, 2020 (<em><b>SJR Q2, Impact Score 3.81</em></b>)<br/>
<br/>
[J1] Zuheng Ming, Muhammad Muzzamil Luqman, Jean-Christophe Burie “Cross-modal Multi-task Learning for Graphic Recognition of Caricature Face”, International Journal on Document Analysis and Recognition (IJDAR) 2020(<em><b>SJR Q3, Impact Factor 1.486, Impactor Score 4.14</em></b>)<br/>
<br/>
</font></p>


