---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
--->

I work as an <b><em>Enseignant-Chercheur/Vacataire en informatique</em></b> teaching more than <b>420 HETD</b> since 2017 in La Rochelle University. 
<ul>
  <li><b>Responsble du cours C5-260311-INFO - CM : Mise en oeuvre des systèmes big data</b> of Master 2 since 2021 (préparation du syllabus, organisation du cours, de l'évaluation, encadrant les projets).</li>

  <li>Supervised 5 stages of Mastr2/Licence3 and currently co-supervising a Doctorant.</li> 

  <li>2021-so far, I works as an <em><b>Enseignant-Chercheur</b><em> teaching totally more than <b>220 HETD</b> (CM 10.5h/TD 7.5h/TP 195h/TEA 16.5h/Projet 16h).</li>

  <li>2017-2021, I was a <b><em>vacataire<em></b> teaching about <b>200HETD</b> (CM/TD/TP/Projet) in FAC/IUT/FLASH at La Rochelle University.</li>
</ul>

<p>
<b>[Description of the courses:]</b>:<br />
</p>
<p><font size=4>
<ul>
  •	C5-260311-INFO - CM : Mise en oeuvre des systèmes big data
  Auditoire : Master 2,       Volume horaire : 28h (CM 15h, TP 15h), Responsable du cours 

  •	C5-160341-INFO - Architecture et développement web
  Auditoire : Licence 2,       Volume horaire : 39h (TP 30h, TEA 9h) 

  •	C5-260131/261131-INFO - Systèmes d'informations
  Auditoire : Master 2,       Volume horaire : 42h (TP 42h) 

  •	C5-101116-INFO - TP : Introduction aux systèmes informatiques
  Auditoire : Licence 1,       Volume horaire : 13,5h (TP 13,5h) 

  •	B1-230111-INFO - TP : Projet professionnel et informatique
  Auditoire : Master 1,       Volume horaire : 15h (TP 15h), Enseignement inter disciplinaire pour les étudiants de majeur Tourisme 

  •	C5-260371-INFO: Fouille de donnée
  Auditoire : Master 2,       Volume horaire : 0h (CM 1,5h/ TD1,5/ TP 3h) 

  •	C5-160511-INFO - TP : Base de données
  Auditoire : Licence 2,       Volume horaire : 15h (TP 15h) 

  •	C5-260121-INFO - TP : Bases de données avancées (NoSQL)
  Auditoire : Master 2,       Volume horaire : 6h (TP 6h) 

  •	C5-160432-INFO programmation objet (avancée) prévu à 2022
  Auditoire : Licence 2,       Volume horaire : 30h (TP 24h/TEA 6h) 

  •	C5-160611-INFO: Base de donnée prévu à 2022
  Auditoire : Licence 2,       Volume horaire : 31,5h (CM 1,5/TP 30h) 

  •	Unité Deep learning de Fouille de données (C5-260371-INFO)
  Auditoire : Master 2,       Volume horaire : 30h,        Type : CM/TP,      Année : 2020

  •	Bases de la programmation orientée objet (DUT-INFO-S2-POO2)
  Auditoire : IUT 2,       Volume horaire : 40h,        Type : TP,      Année : 2019/2020

  •	Principes des bases de données (INFO-12302C-TP)
  Auditoire : Licence 2,       Volume horaire : 33h,        Type : TP,      Année : 2017

  •	Introduction aux systèmes informatiques (C5-101116-INFO-TP)
  Auditoire : Licence 1,       Volume horaire : 15h,        Type : TP,      Année : 2019

  •	Projet professionnel et informatique (B1-230111-INFO-TP)
  Auditoire : Master 2,       Volume horaire : 75h,        Type : TP,      Année : 2018-2020

  •	Introduction d’apprentissage profond (Ecole d’été)
  Auditoire : Master 1,2,     Volume horaire : 6h,        Type : CM/TP,      Année : 2019

  •	Initiation à la recherche (C5-260302-RECH-Projet)
  Auditoire : Master 1,       Volume horaire : 6h,        Type : Projet,      Année : 2018

  •	Application Web d’un système (Projet, Master 2, 6h, 2018)
  Auditoire : Master 2,       Volume horaire : 6h,        Type : Projet,      Année : 2018
</ul>
</font></p>


